/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border: 1px solid green;
	/* border-width: 1px;
	
	
	
	
	border-top: solid;
	border-bottom: solid;
	border-right: solid;
	border-left: solid;
	border-bottom-color: green;
	border-top-color: green;
	border-left-color: green;
	border-right-color: green; */
	
}
#red{
	background-color: red;
	border: 1px solid black;
	/* border-color: black;
	border-width: 1px;
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-right: solid; */
	
}
#green{
	background-color: green;
	border: 1px solid yellow;
	/* border-width: 1px;
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	border-bottom-color: yellow;
	border-top-color: yellow;
	border-left-color: yellow;
	border-right-color: yellow; */
}